.todo-item{
  cursor: pointer;
}

.todo-body{
  word-wrap: break-word;
}

.completed{
  text-decoration: line-through;
}

h2{
  text-align: center;
}

.fab {
  width: 70px;
  height: 70px;
  background-color: #E94B3CFF;
  border-radius: 50%;
  box-shadow: 0 6px 10px 0 #666;
  transition: all 0.1s ease-in-out;

  font-size: 50px;
  color: white;
  text-align: center;
  line-height: 70px;

  position: fixed;
  right: 50px;
  cursor: pointer;
  bottom: 50px;
}

.fab:hover {
  box-shadow: 0 6px 14px 0 #666;
  transform: scale(1.05);
}

.modal{
  margin: auto; 
}